.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.login-div{
  margin-top: 30px;
}

.login-fr{
  margin-left: 810px;
  margin-bottom: 15px;
  width: 300px;
}

.pretrazi{
  margin-top: 30px;
  width: 400px;
  margin-left: 760px;
}

.kn-div {
  width: 800px;
}

.div-knjiga  {
   display: grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 400px 400px 400px;
    grid-row-gap: 300px;
    grid-column-gap: 300px;
    justify-content: center;
    margin-top: 100px;

}


